:root {
    --accent-color: #2196F3;
    --text-color: #212121;
    --title-color: #FFF;
    --description-color: #757575;
    --info-color: rgba(255, 255, 255, 0.60);
    --links-color: #212121;
    --article-text: #FFFFFF;
    --footer-text: #FFFFFF;
    --background-text: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
    border: solid red 1px;
}

.main-pages-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.secondpart-logo-header {
    color: var(--links-color);
}

.secondpart-logo-footer {
    color: var(--title-color);
}

.footer-pages-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 1.38;
    line-height: normal;
    letter-spacing: 0.78px;
}

.main-pages-link {
    color: var(--links-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.main-pages-link:hover {
    color: var(--accent-color);
}

.contacts-malito {
    color: var(--description-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.contacts-tel {
    color: var(--description-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.contacts-malito:hover {
    color: var(--accent-color);
}

.contacts-tel:hover {
    color: var(--accent-color);
}



.effective-choices-h1 {
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.effective-choices-button {
    color: var(--title-color);
    background-color: #2196F3;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;
}

.plus-h3 {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.plus-p {
    color: var(--description-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.work-h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.work-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.team-h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.team-h3 {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.team-p {
    color: var(--description-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.footer-pages-contacts-address {
    color: var(--article-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-pages-contacts-a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-pages {
    background: #2F303A;
}

.button-a {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    /* 162.5% */
    letter-spacing: 0.48px;
}

.button-a:hover {
    color: var(--title-color);
    background-color: #2196F3;
}


.portfolio-h3 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    /* 200% */
    letter-spacing: 1.08px;
}

.portfolio-p {
    color: var(--description-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.48px;
}